@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: 'Inria Sans', sans-serif;
}

html {
  background-color: var(--color-base-300);
  font-size: 16px;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
