@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: 'Inria Sans', sans-serif;
}

html {
  background-color: var(--color-base-300);
  font-size: 16px;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}